{% extends 'base.html' %}

{% block content %}
<style>
    button, input, optgroup, select, textarea{
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
    
    }
    .alert {
        --bs-alert-bg: #adadad;
    }


</style>
<div class="container mt-5">
    <h2 class="text-white bg-primary p-3">{% if is_edit %}Edit{% else %}Add New {% endif %} Category</h2>
 
    <form method="post" enctype="multipart/form-data" class=" p-5 rounded">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group mb-4">
                <label for="{{ field.id_for_label }}" class="form-label text-dark">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if messages %}
        <div class="mb-3 text-danger">
            {% for message in messages %}
                <div class="alert {{ message.tags }}  alert-bordered">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
{% endif %}
        <button type="submit" class="btn btn-success">{% if is_edit %}Edit Category {% else %}Add Category{% endif %}</button>
    </form>
</div>
{% endblock %}
